<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>cities</key>
        <array>
            <string>柏林</string>
            <string>汉堡</string>
            <string>慕尼黑</string>
            <string>科隆</string>
            <string>法兰克福</string>
            <string>多特蒙德</string>
            <string>斯图加特</string>
            <string>波恩</string>
        </array>
        <key>state</key>
        <string>德国</string>
    </dict>
    <dict>
        <key>cities</key>
        <array>
            <string>波尔多</string>
            <string>巴黎</string>
            <string>马赛</string>
            <string>里昂</string>
            <string>里尔</string>
            <string>图卢兹</string>
            <string>尼斯</string>
            <string>南特</string>
            <string>蒙彼利埃</string>
        </array>
        <key>state</key>
        <string>法国</string>
    </dict>
    <dict>
        <key>cities</key>
        <array>
            <string>纽约</string>
            <string>华盛顿</string>
            <string>亚特兰大</string>
            <string>波士顿</string>
            <string>圣保罗</string>
            <string>西雅图</string>
            <string>硅谷</string>
            <string>洛杉矶</string>
            <string>芝加哥</string>
            <string>休斯敦</string>
            <string>费城</string>
        </array>
        <key>state</key>
        <string>美国</string>
    </dict>
    <dict>
        <key>cities</key>
        <array>
            <string>北京</string>
            <string>上海</string>
            <string>天津</string>
            <string>重庆</string>
            <string>浙江</string>
            <string>广东</string>
            <string>江苏</string>
            <string>山东</string>
            <string>福建</string>
            <string>安徽</string>
            <string>四川</string>
            <string>湖北</string>
            <string>河北</string>
            <string>云南</string>
            <string>黑龙江</string>
            <string>吉林</string>
            <string>辽宁</string>
            <string>海南</string>
            <string>湖南</string>
            <string>河南</string>
            <string>贵州</string>
            <string>江西</string>
            <string>广西</string>
            <string>陕西</string>
            <string>山西</string>
            <string>青海</string>
            <string>宁夏</string>
            <string>甘肃</string>
            <string>西藏</string>
            <string>内蒙古</string>
            <string>新疆</string>
            <string>台湾</string>
            <string>香港</string>
            <string>澳门</string>
        </array>
        <key>state</key>
        <string>中国</string>
    </dict>
    <dict>
        <key>cities</key>
        <array>
            <string>大阪</string>
            <string>横滨</string>
            <string>名古屋</string>
            <string>京都</string>
            <string>神户</string>
            <string>札幌</string>
            <string>福冈</string>
            <string>千叶</string>
            <string>埼玉</string>
            <string>东京</string>
        </array>
        <key>state</key>
        <string>日本</string>
    </dict>
</array>
</plist>
