<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>cities</key>
        <array>
            <string>Berlin</string>
            <string>hamburger</string>
            <string>Munich</string>
            <string>Cologne</string>
            <string>Frankfurt</string>
            <string>Dortmund</string>
            <string>Stuttgart</string>
            <string>bonn</string>
        </array>
        <key>state</key>
        <string>Germany</string>
    </dict>
    <dict>
        <key>cities</key>
        <array>
            <string>Bordeaux</string>
            <string>Paris</string>
            <string>Marseilles</string>
            <string>leon</string>
            <string>Lille</string>
            <string>Toulouse</string>
            <string>Nice</string>
            <string>Nantes</string>
            <string>Montpellier</string>
        </array>
        <key>state</key>
        <string>France</string>
    </dict>
    <dict>
        <key>cities</key>
        <array>
            <string>New York</string>
            <string>Washington</string>
            <string>Atlanta</string>
            <string>boston</string>
            <string>Sao Paulo</string>
            <string>Seattle</string>
            <string>silicon valley</string>
            <string>Los Angeles</string>
            <string>Chicago</string>
            <string>Houston</string>
            <string>Philadelphia</string>
        </array>
        <key>state</key>
        <string>U.S.A</string>
    </dict>
    <dict>
        <key>cities</key>
        <array>
            <string>Beijing</string>
            <string>Shanghai</string>
            <string>Tianji</string>
            <string>Chongqing</string>
            <string>Zhejiang</string>
            <string>Guangdong</string>
            <string>Jiangsu</string>
            <string>Shandong</string>
            <string>Fujian</string>
            <string>Anhui</string>
            <string>Sichuan</string>
            <string>Hubei</string>
            <string>Hebei</string>
            <string>Yunnan</string>
            <string>Heilongjiang</string>
            <string>Jilin</string>
            <string>Liaoning</string>
            <string>Hainan</string>
            <string>Hunan</string>
            <string>Henan</string>
            <string>Guizhou</string>
            <string>Jiangxi</string>
            <string>Guangxi</string>
            <string>Shanxi</string>
            <string>Shanxi</string>
            <string>Qinghai</string>
            <string>Ningxia</string>
            <string>Gansu</string>
            <string>Xizang</string>
            <string>Neimenggu</string>
            <string>Xinjiang</string>
            <string>Taiwan</string>
            <string>Xianggang</string>
            <string>Aomen</string>
        </array>
        <key>state</key>
        <string>China</string>
    </dict>
    <dict>
        <key>cities</key>
        <array>
            <string>Osaka</string>
            <string>Yokohama</string>
            <string>Nagoya</string>
            <string>kyoto</string>
            <string>Kobe</string>
            <string>Sapporo</string>
            <string>Fukuoka</string>
            <string>Chiba</string>
            <string>Saitama</string>
            <string>Tokyo</string>
        </array>
        <key>state</key>
        <string>Japan</string>
    </dict>
</array>
</plist>
